* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  margin: 0 auto;
}

@import 'directives/navbar';
@import 'home/main';
@import 'review/main';